body{
    margin: 0;
    padding: 0;
}
.radius{
    border-radius: 5vw;
    background-color: rgb(9, 201, 9);
}
.shadow{
box-shadow: 10px 10px 5px;
}
li a:hover{
    background-color: rgb(221, 44, 21);
    cursor: pointer;
}
.edit{
    margin-left:20vw;
}